// font size
$font-h1: 2.5rem;
$font-h2: 2rem;
$font-h3: 1.8rem;
$font-paragraph: 1.6rem;
$font-small: 1.4rem;

// font weight
$font-normal: 400;
$font-medium: 700;
$font-bold: 800;

// color
$color-primary: #4B7BE5;
$color-primary-light: #F7F9FF;
$color-success: #006633;
$color-success-light: #F4F9F3;
$color-danger: #FF6347;
$color-danger-light: #FFEFEC;
$color-warning: #FAAE00;
$color-warning-light: #FEF7E6;
$color-font: #555;
$color-header: #F6F5EF;
$color-header-border: #E5E5E3;
$color-input: #C5C5C5;
$color-tr-hover: #DDD;
$color-tr-even: #F2F2F2;
$color-black: #000;
$color-bg-filter: rgba($color-black, 0.3);
$color-white: #FFF;

// border radius
$border-radius: 5px;