// font size
$font-title: 2.5rem;
$font-subtitle: 2rem;
$font-paragraph: 1.6rem;
$font-small: 1.4rem;

// font weight
$font-normal: 400;
$font-medium: 700;
$font-bold: 800;

// color
$color-primary: #4B7BE5;
$color-font: #555;
$color-header: #F6F5EF;
$color-header-border: #E5E5E3;
$color-input: #C5C5C5;
$color-hr: #ddd;
$color-white: #fff;
$color-success: #006633;
$color-success-light: #F4F9F3;
$color-danger: #FF6347;
$color-danger-light: #FFEFEC;
$color-warning: #FAAE00;
$color-danger-light: #FEF7E6;
