html {
  font-size: 62.5%; // rem 값의 기준을 잡기 위함 16px -> 10px
}
* {
  box-sizing: border-box;
}

// font
h1, h2, p, a, div, span, input, button, table {
  font-family: 'Nanum Gothic', sans-serif;
}
h1 {
  font-size: $font-title;
  font-weight: $font-bold;
}
h2 {
  font-size: $font-subtitle;
  font-weight: $font-medium;
}
p, a, div, span, input, button, table {
  font-size: $font-paragraph;
  font-weight: $font-normal;
}

// img
img {
  display: block;
}

.flex-space {
  flex-grow: 1;
}

// common UI
.logo {
  height: 5.5em;
  &:hover {
    cursor: pointer;
  }
}