// global
html {
  font-size: 62.5%; // rem 값의 기준을 잡기 위함 16px -> 10px
}
* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
#app {
  height: 100vh;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
@media only screen and (min-width: 1540px) {
  .container {
    width: 1366px;
  }
}

// font family, color, font weight
h1, h2, p, a, div, span, input, button, table {
  font-family: 'Nanum Gothic', sans-serif;
}
h1, h2, p, a, div, span, input, table {
  color: $color-font;
  font-weight: $font-normal;
}
hr {
  color: $color-tr-hover;
}
table th {
  font-weight: $font-medium;
}
h1 {
  font-size: $font-h1;
  font-weight: $font-bold;
  margin-bottom: 1.5em;
}
h2 {
  font-size: $font-h2;
  font-weight: $font-medium;
}
h3 {
  font-size: $font-h3;
  font-weight: $font-medium;
}
p, a, div, span, input, button, table {
  font-size: $font-paragraph;
  font-weight: $font-normal;
}
a {
  text-decoration: none;
}

// basic UI
input {
  border: 1px solid $color-input;
  border-radius: $border-radius;
  width: 13em;
  padding: 0.4em 0.5em;
  &focus {
    border: 1px solid $color-primary;
  }
  &.search {
    background: url(../assets/search.png) no-repeat right 10px center;
  }
}
::placeholder { 
  color: $color-input;
}
button {
  background-color: $color-primary;
  color: $color-white;
  border: none;
  border-radius: $border-radius;
  padding: 0.75em 1.5em;
  margin-top: 1.75em;
  cursor: pointer;
}
img {
  display: inline-block;
}
table {
  border-collapse: collapse;
  width: 1000px;
  // tr, th, td
	tr {
		&:nth-child(even){
			background-color: $color-tr-even;
		}
		&:hover {
			background-color: $color-tr-hover;
		}
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: $color-primary;
      color: $color-white;
      &:first-child {
        text-align: center;
      }
    }
    th, td {
      border: 1px solid $color-input;
      padding: 9px;
      vertical-align: middle;
    }
    td {
      &:first-child {
        text-align: center;
      }
      .status-badge {
        padding: 5px 10px;
        border-radius: 25px;
        &.request-badge {
          background-color: $color-warning-light;
          color: $color-warning;
        }
        &.confirm-badge {
          background-color: $color-success-light;
          color: $color-success;
        }
        &.cancel-badge {
          background-color: $color-danger-light;
          color:  $color-danger;
        }
      }
    }
	}
}

// center class name
.text-center {
  text-align: center;
}
.flex-center-vertically {
  display: flex;
  align-items: center;
}
.flex-center-horizontally {
  display: flex;
  justify-content: center;
}
.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// common UI class name
.logo {
  width: 4em;
  &:hover {
    cursor: pointer;
  }
}
.action-btn {
  text-decoration: underline;
  cursor: pointer;
  &.confirm-btn {
    color: $color-success;
  }
  &.cancel-btn {
    color: $color-danger;
  }
}

// 상품 상세 정보
.product-detail {
  &.flex-center {
    gap: 5em
  }
  .thumbnail {
    img {
      width: 400px;
      margin-right: 3em;
    }
  }
  .price {
    color: $color-primary;
    margin-bottom: 2em;
  }
}

// 테이블 페이지
.table-page {
  h1 {
    margin-bottom: 1em;
  }
  .table-wrapper {
    display: inline-block;
    height: 80vh;
    margin-top: 0.75em;
    overflow: auto;
  }
}