// Side header is in MyPage.vue & Admin.vue components

.mypage {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
  nav {
    width: 20vw;
    max-width: 30em;
    background-color: $color-header;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2em 1.4rem;
      font-weight: 700;
    }
    .user {
      flex-shrink: 0;
      padding: 1.4rem;
      color: $color-font;
      border-top: 0.1rem solid $color-header-border;
      &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $font-small;
      }
    }
    .menulist {
      flex-grow: 1;
      height: 100%;
      color: $color-font;
      padding: 1.4rem;
      border-top: 0.1rem solid $color-header-border;
      .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        margin-bottom: 1rem;
        padding: 0 1.2rem;
        border-radius: 1rem;
        font-size: $font-small;
        cursor: pointer;
        &.show {
          color: $color-primary;
          font-weight: 700;
          background-color: $color-header-border;
        }
        &.disabled {
          cursor: default;
          opacity: .3;
        }
        &:hover {
          background-color: $color-header-border;
        }
      }
    }
    .actions {
      padding: 1.4rem;
      border-top: 0.1rem solid $color-header-border;
      color: $color-font;
      .action {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        padding: 0 1.2rem;
        border-radius: 1rem;
        background-color: $color-header;
        font-size: $font-normal;
        font-weight: $font-medium;
        cursor: pointer;
        &.disabled {
          cursor: default;
          opacity: .3;
        }
        &:hover {
          background-color: $color-header-border;
        }
        i {
          font-size: $font-normal;
          margin-right: 0.6rem;
        }
      }
    }
  }
  .content {
    width: 100%;
    position: relative;
    section {
      margin: 2em 0 2em 5em;
    }
  }
}
